.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 10px;
  
    }
    
    .div1 { 
        grid-area: 1 / 1 / 2 / 2; 
        background-color: #5885AF;
        box-shadow: 10px 5px 5px black;
    }
    .div2 { 
        grid-area: 1 / 2 / 2 / 3; 
        background-color: #5885AF;
        box-shadow: 10px 5px 5px black;
    }
    .div3 {
         grid-area: 1 / 3 / 2 / 4;
         background-color: #5885AF;
        box-shadow: 10px 5px 5px black;

         }
    .div4 {
         grid-area: 1 / 4 / 2 / 5; 
         background-color: #5885AF;
        box-shadow: 10px 5px 5px black;

        }
    .div5 {
         grid-area: 1 / 5 / 2 / 6;
         background-color: #5885AF;
        box-shadow: 10px 5px 5px black;

         }
    .div6 {
         grid-area: 2 / 1 / 3 / 2; 
         background-color: #5885AF;
        box-shadow: 10px 5px 5px black;

        }
    .div7 {
         grid-area: 2 / 2 / 3 / 3;
         background-color: #5885AF;
        box-shadow: 10px 5px 5px black;


     }
    .div8 {
         grid-area: 2 / 3 / 3 / 4; 
         background-color: #5885AF;
        box-shadow: 10px 5px 5px black;

        }
    .div9 { 
        grid-area: 2 / 4 / 3 / 5; 
        background-color: #5885AF;
        box-shadow: 10px 5px 5px black;

    }
    .div10 { 
        grid-area: 2 / 5 / 3 / 6; 
        background-color: #5885AF;
        box-shadow: 10px 5px 5px black;

    }
    .div11 { 
        grid-area: 3 / 1 / 4 / 2;
        background-color: #5885AF;
        box-shadow: 10px 5px 5px black;

     }
    .div12 {
         grid-area: 3 / 2 / 4 / 3;
         background-color: #5885AF;
        box-shadow: 10px 5px 5px black;

         }
         .div13 {
          grid-area: 3 / 2 / 4 / 3;
          background-color: #5885AF;
         box-shadow: 10px 5px 5px black;
 
          }

          .div14 {
            grid-area: 3 / 2 / 4 / 3;
            background-color: #5885AF;
           box-shadow: 10px 5px 5px black;
   
            }


          .div15 {
            grid-area: 3 / 2 / 4 / 3;
            background-color: #5885AF;
           box-shadow: 10px 5px 5px black;
   
            }

          .div16 {
            grid-area: 3 / 2 / 4 / 3;
            background-color: #5885AF;
           box-shadow: 10px 5px 5px black;
   
            }

          .div17 {
            grid-area: 3 / 2 / 4 / 3;
            background-color: #5885AF;
           box-shadow: 10px 5px 5px black;
   
            }
    

    .bg {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 30%;
        block-size: fit-content;
        
      }
      
      .h1 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        font-size: 5rem;
        color: whitesmoke;
        font-family: 'Open Sans', sans-serif;
        text-shadow: 5px 5px #5885AF;
        height: 120%;
      }
      .submit{
        background-color:  #274472;
        color: whitesmoke;
        border-radius: .5rem;
        width: 6rem;
        border: none;
        font-family: 'Open Sans',sans-serif;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 10px;
      }

      span{
        color: white;
        margin-left: 10px;
      }

      h2{
        color: whitesmoke;
        margin-left: 10px;
      }

      p{
        color: whitesmoke;
        margin-left: 5px;
      }
     
      @media only screen and (max-width: 400px) {
        /* Your styles here */
        .h1{
          font-size: small;
          height: 15px;
          margin-left: 10px;

        }
       
      
      }
      
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Your styles here */
        .h1{
          height: 10%;
        }
      }
      
      @media only screen and (max-width: 768px) {
        /* Your styles here */
      }
      